<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"main","style":{"spacing":{"padding":{"top":"48px","bottom":"80px","left":"24px","right":"24px"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" id="main" style="padding-top:48px;padding-right:24px;padding-bottom:80px;padding-left:24px">

<!-- wp:pattern {"slug":"chee-portfolio/archive-works-content"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
