<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
<!-- wp:pattern {"slug":"chee-portfolio/sec01-fv"} /-->
<!-- wp:pattern {"slug":"chee-portfolio/sec02-works"} /-->
<!-- wp:pattern {"slug":"chee-portfolio/sec03-voice"} /-->
<!-- wp:pattern {"slug":"chee-portfolio/sec04-service"} /-->
<!-- wp:pattern {"slug":"chee-portfolio/sec05-cta"} /-->
<!-- wp:pattern {"slug":"chee-portfolio/sec06-profile"} /-->
<!-- wp:pattern {"slug":"chee-portfolio/sec07-flow"} /-->
<!-- wp:pattern {"slug":"chee-portfolio/sec08-contact"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
