<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"className":"page-title-area","layout":{"type":"constrained"}} -->
<div class="wp-block-group page-title-area">

<!-- wp:pattern {"slug":"chee-portfolio/single-works-breadcrumb"} /-->

<!-- wp:post-title {"level":1,"style":{"typography":{"fontWeight":"400"}}} /-->

</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","anchor":"main","style":{"spacing":{"padding":{"top":"48px","bottom":"80px","left":"24px","right":"24px"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" id="main" style="padding-top:48px;padding-right:24px;padding-bottom:80px;padding-left:24px">

<!-- wp:pattern {"slug":"chee-portfolio/single-works-content"} /-->

<!-- wp:post-content {"layout":{"type":"constrained"}} /-->

<!-- wp:pattern {"slug":"chee-portfolio/single-works-detail-gallery"} /-->

<!-- wp:pattern {"slug":"chee-portfolio/cta-inquiry"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
